@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    // li.menu-group {
    //     border-left: none;
    //     font-weight: 500;

    //     .menu-group-name {
    //         line-height: 40px;
    //         padding: 0px 20px;
    //         border-right: none;
    //     }

    //     .menu-group-name:first-child {
    //         border-left: none;
    //     }
    // }



    .language {

        display: flex;
        align-items: center;

        span.welcome {
            margin-right: 10px;
        }


        .vi {
            cursor: pointer;
            margin-right: 10px;

            &.active {
                color: black;
            }
        }

        .en {
            cursor: pointer;

            &.active {
                color: black;
            }
        }

        .btn-logout {
            display: flex;
            align-items: center;
            color: white;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            gap: 20px;
        }

        // &:hover {
        //     background-color: darken($colormain, 5);
        // }

        // i {
        //     font-size: $base-size + 1px;
        // }
    }
}